body {
	background-color: #FFFEF8;
	background-image: url(images/optback2.jpg);
	color: #0e0e0e;
	font-family: "Lucida Sans Unicode", "Lucida Grande",   	    sans-serif;
	font-size: 10px;
	
	}
	
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	opacity: 50%;
	text-align: left;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}
	
#wrapper {
	max-width: 950px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right:auto;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;	
	box-shadow: 0 0 255px #000;
}
#navbar {background-color:ffffff;

	}

.topheader {
margin-left:115px;
margin-top:30px;
}
h2, h3 {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-left:5px;
	border-bottom-right-radius: 50px;
	font-family: 'Comfortaa', cursive;}
	
h3 {font-family: 'Comfortaa', cursive;
	padding-top: 10px;
}
	
h4 {text-align:left;
color:#000000;
font-size:18px;
font-family: 'Comfortaa', cursive;
}

h5 {color: #ffffff;
font-size:23px;
font-family: 'Comfortaa', cursive;
margin-left: 25px;

}

h6 {background-color:#dcd1dd;
color:#000000;
text-align:center;}
		
		
		
		
a {background-color:#ffffff;
	color: #0e0e0e;
	font-family: 'Comfortaa', cursive;
	text-decoration:none;
	
	}
	
a:hover {background-color:#000000;}

#footer {background-color: #262121;
color: #FFFFFF;
text-align:center;
list-style: left;
font-size: 18px;}


.navbox {background-color:#F45D00;
width:100%;
float:left;
}
.contbox {margin-top:-30px;
	align-content: center;
	background-color: #38D000;
	border-style: solid;
	border-color: #38D000;
	border-width:thick;
}

.smallbox {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 33%;
	float: left;
	background-color: #38D000;
	border: thick solid #38D000;
}

.smallbox ul{margin:5px;
padding:5px}

.smallbox ul li{list-style:none;
}

.smallboxf{color:#6B6060;
	text-align: center;
	width: 33%;
	height: 200px;
	float: left;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: -20px;
}

.smallboxf ul li{list-style:none;
text-align:left;
}

.smallboxfli {margin-top: -30px;}

.mediumbox1 {width:33%;
margin-right: none;
float:left;
}

.mediumbox2 {width:64%;
margin-left: 1%;
float:left;}

	
.my-navigation {
	background-color: #F45D00;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-size: 28px;
	margin-top: 5px;
	padding-bottom:5%
	border-color: #EF7701 #EF7701 #B14700;
	border-bottom: thick solid #B14700;
}

.my-navigation li {display: inline;
list-style: none;
margin:5%;}

.my-navigation li a {
background-color:#F45D00;
color: #ffffff;
margin: none;}

.second {width:33%;
float:left}

.fa
{
	font-size: 50px;
	text-align:center;
}
.fa li a{ font-size: 100px;
}



display;block; 			color: #262121;
}

.left-sidebar {
	width: 66.666666666%;
	float: left;}

.content {
	width: 33.333333333%;
	float: left;
}



.accordion-header{
background: #424242;
color: white;
cursor: pointer;}

.accordion-header h3{
padding: 5px;
text-align: left;
	font-size: 16px;
	border-bottom-right-radius: 0;
}

.accordion-content{background:#eee;
display: none;}

.accordion-header:hover{background:#222)}

.submit {
	background-color: #38D000;
	color: #ffffff;
	padding: 10px;
	font-size: 18px;
	font-family: 'Comfortaa', cursive;
	border-radius: 2px;
	border-color: #827E7E;
	margin-top: 20px;
	margin-bottom:75px;
	}
	
	

.submitp {font-size:14px;}




/*
*Media Queries
*/

@media (max-width:600px){
	body{background:#A7A4A4!important;}
.footer {
}
.smallboxfli {
}
.topheader {
}
.submit {
}
.psubmit {
}
.submitp {
}
.submiti {
}
.submiti {
}
.submitin {
}
.submitin {
}
.textearea1 {
}
