body {
	background-color: #FFFEF8;
	background-image:url(images/optback2.jpg);
	color:#0e0e0e;
	font-family:"Lucida Sans Unicode", "Lucida Grande",   	    sans-serif;
	font-size: 14px;
	
	}
	
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
	
#wrapper {
	max-width: 950px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right:auto;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;	
	box-shadow: 0 0 15px #000;
}
#navbar {background-color:#ffffff;

	}



h2, h3 {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-left:5px;
	border-bottom-right-radius: 50px;
	font-family: 'Comfortaa', cursive;}
	
h3 {font-family: 'Comfortaa', cursive;
	padding-top: 10px;
}
	
h4 {text-align:left;
background: #0689C8;
color:#ffffff;
font-size:14px
font-family: 'Comfortaa', cursive;}

h5 {color: #403942;
font-size:14px
font-family: 'Comfortaa', cursive;
}

h6 {background-color:#dcd1dd;
color:#000000;
text-align:center;}
		
		
		
		
a {background-color:#ffffff;
	color: #0e0e0e;
	font-family: 'Comfortaa', cursive;
	text-decoration:none;
	
	}
	
a:hover {background-color:#dcd1dd;}

#footer {background-color: #DCD1DD;
color:#000000;
text-align:left;
list-style: left;
font-size: 14px;}

.logobox {background-color:#ffffff;
width:33%;}

.navbox {background-color:#ffffff;
width:66%;
float:left;
}

.smallbox{color:#007D36
	text-align: center;
	width: 33%;
	height: 155px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.smallbox ul{margin:10px;
padding:10px}

.smallbox ul li{list-style:none;
}

.smallboxf{color:#4E5EC1;
	text-align: left;
	width: 33%;
	height: 200px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

.smallboxf ul li{list-style:none;
}

.mediumbox1 {max-width:50%;
margin-right:10px;
margin-left:5px;
float:left;
}

.mediumbox2 {max-width:50%;
float:left;}



.boxicon{
	width: 60px;
	height: 60px;
	text-align: center;
	border: solid 2px #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 10px;
	margin: auto;
	background-color: #ADADAD;}
	
	
.my-navigation {margin:none;
font-family: 'Comfortaa', cursive;
text-align:left;}

.my-navigation li {display: inline;
list-style: none;
margin:none;}

.my-navigation li a {
background-color:#0689C8;
color: #ffffff;
margin: none;}

.second {width:33%;
float:left}

.fa
{font-size:75px;
display;block}

.left-sidebar {
	width: 33.333333333%;
	float: left;
}

.content {
	width: 66.666666666%;
	float: right;
}

/*
*Media Queries
*/

@media (max-width:600px){
	body{background:#A7A4A4!important;}
}

