body {
	background-color: #FFFEF8;
	background-image: url(images/optback2.jpg);
	color: #0e0e0e;
	font-family: "Lucida Sans Unicode", "Lucida Grande",   	    sans-serif;
	font-size: 10px;
	
	}
	
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	opacity: 50%;
	text-align: left;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}
	
#wrapper {
	max-width: 950px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right:auto;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;	
	box-shadow: 0 0 255px #000;
}
#navbar {background-color:ffffff;

	}

.topheader {
width: 100%;
}

.topheaderwrapper {
margin-left:135px;
padding-top:30px;
}

h2, h3 {
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-left:5px;
	border-bottom-right-radius: 50px;
	font-family: 'Comfortaa', cursive;}
	
	
h4 {text-align:left;
color:#000000;
font-size:18px;
font-family: 'Comfortaa', cursive;
}

h5 {color: #ffffff;
font-size:15px;
font-family: 'Comfortaa', cursive;
margin-left: 25px;

}

h6 {background-color:#dcd1dd;
color:#000000;
text-align:center;}
		
		
		
		
a {background-color:#262121;
	color: #6B6060;
	font-family: 'Comfortaa', cursive;
	text-decoration:none;
	
	}
	
a:hover {background-color:#dcd1dd;}

#footer {background-color: #262121;
color:#ffffff;
text-align:center;
list-style: left;
font-size: 12px;}


.navbox {background-color:#F45D00;
width:100%;
float:left;
}
.contbox {margin-top:-30px;
	align-content: center;
	background-color: #38D000;
	border-style: solid;
	border-color: #38D000;
	border-width:thick;
}

.smallbox {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 33%;
	float: left;
	background-color: #38D000;
	border: thick solid #38D000;
}

.smallbox ul{margin:5px;
padding:5px}

.smallbox ul li{list-style:none;
}

.smallboxf{color:#6B6060;
	text-align: center;
	width: 33%;
	float: left;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: -20px;
}

.smallboxf ul li{list-style:none;
text-align:left;
}

.smallboxfli {font-size:15px;}

.mediumbox1 {width:33%;
margin-right: none;
float:left;
}

.mediumbox1 img{
	width: 100%;}

.mediumbox2 {width:64%;
margin-left: 1%;
float:left;}

.mediumbox2 img{
	width:100%}

	
.my-navigation {
	background-color: #F45D00;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-size: 28px;
	margin-top: 5px;
	margin-left:
	padding-bottom:5%
	border-color: #EF7701 #EF7701 #B14700;
	border-bottom: thick solid #B14700;
}

.my-navigation li {display: inline;
list-style: none;
margin:5%;}

.my-navigation li a {
background-color:#F45D00;
color: #ffffff;
margin: none;}

.my-navigation li a hoover {color: #000000}

.second {width:33%;
float:left}

.fa
{
	font-size: 75px;
	text-align:center;
}
.fatext
{
	font-size:14px;
	text-align:center;
	margin-top: 10px;
}

.left-sidebar {
	width: 66.666666666%;
	float: left;}

.content {
	width: 33.333333333%;
	float: left;
}

.half {
	width: 50%;
	float: left;
}




.accordion-header{
background: #424242;
color: white;
cursor: pointer;}

.accordion-header h3{
padding: 5px;
text-align: left;
	font-size: 16px;
	border-bottom-right-radius: 0;
}

.accordion-content{background:#eee;
display: none;}

.accordion-header:hover{background:#222)}


#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    width:100%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}



#contact-form button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #38D000;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.contactp{ font-family: 'Comfortaa', cursive;
font-size:14px;
}


/*
*Media Queries
*/

@media (max-width:600px){
	body{background:#A7A4A4!important;}

.fatext {
}
.aheader {
}
.aheader {
}
.aboutp {
}
